**/.cpcache
**/.rebel_readline_history
**/.nrepl-port
**/target/*/**
**/log/*
!**/target/*/.gitkeep

**/node_modules/*


# pack'd output
/*.jar
**/*.jar

**/resources/credentials.edn
**/crux-storage/*