{:edge.kick/config
 {:kick.builder/target #profile {:dev "target/dev"
                                 :prod "target/prod"}
  :kick/sass {:builds [{:id "dashboard"
                        :source "dashboard.scss"
                        :target "public/dashboard.css"}]}
  :kick/figwheel-main {:builds [{:id "app"
                                 :main how-to-not-be-poor.dashboard.frontend.main
                                 :closure-defines #profile {:dev {"re_frame.trace.trace_enabled_QMARK_" true}}
                                 :preloads #profile {:dev [day8.re-frame-10x.preload]}
                                 :output-to "public/frontend.js"
                                 :output-dir "public/frontend.out"
                                 :foreign-libs [{:file "dist/index_bundle.js"
                                                 :file-min "dist/index_bundle.min.js"
                                                 :provides ["material-ui-core"
                                                            "react-admin"
                                                            "data-provider"
                                                            "ra-date-inputs"
                                                            "react-router-dom"
                                                            "react-redux"]
                                                 :global-exports {react-admin ReactAdmin
                                                                  material-ui-core MaterialUI
                                                                  data-provider dataProvider
                                                                  ra-date-inputs dateInputs
                                                                  react-router-dom ReactRouterDOM
                                                                  react-redux redux}}]
                                 :infer-externs true
                                 :npm-deps false
                                 :asset-path "/frontend.out"
                                 :optimizations #profile {:dev :none
                                                          :prod :advanced}}]
                       :figwheel-config
                       {:ring-server-options
                        {:port 4400}}}}

 :ig.system/dev
 {:edge.kick/builder #ref [:edge.kick/config]}

 :ig.system/base
 {[:edge.yada.ig/classpath-name :how-to-not-be-poor.dashboard/index] {:name "index.html"}
  [:edge.yada.ig/resources :how-to-not-be-poor.dashboard/assets] {:path "public/"}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 7979}
  :edge.bidi.ig/vhost [["http://localhost:7979"
                        [""
                         [["/" #ig/ref [:how-to-not-be-poor.dashboard/index :edge.yada.ig/classpath-name]]
                          ["/login" #ig/ref :how-to-not-be-poor.dashboard.http.auth/login]
                          ["/admin-api/" #ig/ref :how-to-not-be-poor.dashboard.http.admin-api/admin-handler]
                          ["/store" #ig/ref :how-to-not-be-poor.dashboard.http.auth/store]
                          ["/callback" #ig/ref :how-to-not-be-poor.dashboard.http.auth/callback]
                          ["" #ig/ref [:how-to-not-be-poor.dashboard/assets :edge.yada.ig/resources]]]]]]

  ;; Yada Resources
  :how-to-not-be-poor.dashboard.http.auth/login nil
  :how-to-not-be-poor.dashboard.http.auth/callback nil
  :how-to-not-be-poor.dashboard.http.auth/store nil
  :how-to-not-be-poor.dashboard.http.admin-api/admin-handler nil

  }

 :ig/system #profile {:dev #merge [#ref [:ig.system/base]
                                   #ref [:ig.system/dev]]
                      :default #ref [:ig.system/base]}}
